# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/

# Firebase (si aplica)
*.keystore
google-services.json
GoogleService-Info.plist

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
*.log
*.logs